<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Campeonato do Vila 2016</title>

    <!-- Bootstrap -->
    <link href="../../bower_components/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet">
    <script src="../../bower_components/bootstrap/dist/js/bootstrap.min.js"></script>

    <!-- JQuery -->
    <script src="../../bower_components/jquery/dist/jquery.js"></script>

    <!-- Angular -->
    <script src="../../bower_components/angular/angular.js"></script>
    

</head>

<body ng-app="tenisChampApp">
    <div class="container" style="text-align: center">
        <h2>Campeonato do Vila de tênis de mesa Maio/2016</h1>
    <div class="btn-group-vertical" role="group">
    <button type="button" class="btn btn-primary" aria-label="Jogadores"
            onclick="window.location.href='jogadores.html'">
        <span class="glyphicon glyphicon-triangle-right" aria-hidden="true"></span>
        <span class="text">Jogadores</span>
    </button>
    <button type="button" class="btn btn-primary" aria-label="Left Align"
            onclick="window.location.href='campeonato.html'">
        <span class="glyphicon glyphicon-triangle-right" aria-hidden="true"></span>
        <span class="text">Campeonatos</span>
    </button>
    <button type="button" class="btn btn-primary" aria-label="Left Align"
            onclick="window.location.href='campeonato_status.html'">
        <span class="glyphicon glyphicon-triangle-right" aria-hidden="true"></span>
        <span class="text">Status Campeonato</span>        
    </button>
    </div>
    <div>
  </body>
</html>